{% extends 'base.html' %}
{% block content %}

{% if ticker %}
	{{ ticker }}
{% endif %}

{% if api %}
	{% if api == "Error..." %}
		There was a problem with your Ticker Symbol,
		please try again...
	{% else %}
	
		

		

		

		{% for key, value in api.price.items %}
			{{ key }}: {{ value}} <br/>
		{% endfor %}

		
		
		

		<h1>{{ api.price.longName }}</h1><br/>
			
		Current Price is: ${{ api.price.regularMarketPrice.raw }}<br/>
		The Open Price is:  ${{ api.price.regularMarketOpen.raw }}<br/>
		The Previous Close was: ${{ api.price.regularMarketPreviousClose.raw }}<br/>
		The Market Cap is: ${{ market_cap }}<br/>	
		The 52Wk High is: ${{api.summaryDetail.fiftyTwoWeekHigh.raw }}<br/>
		The 52Wk Low is: ${{ api.summaryDetail.fiftyTwoWeekLow.raw  }}<br/>

		
		

		

	{% endif %}

{% endif %}






 
{% endblock %}